body {
    font-family: "Times New Roman", serif;
    padding: 50px;
    background-color: white;
}

h1 {
    text-align: center;
    font-size: 36px;
}

tr{
    background-color:rgba(0, 0, 255, 0.13);

}
table {
    width: 700px;
    border-collapse: collapse;
    font-size: 24px;
    margin: auto;
}

th {
    background-color: #155f7b;
    color: white;
    text-align: left;
    border: 1px solid gray;
    padding: 6px 10px;
}

td {
    background-color: #dcecf8;
    border: 1px solid gray;
    padding: 6px 10px;
}
h2 {
    text-align: center;
    font-size: 36px;
}
form {
    background-color: rgb(194, 241, 200);
    border-radius: 45px;
    width: 50%;
    margin: auto;
    height: 350px;
    width: 650px;
}

label {
    margin-left: 30px;
    margin-right: 30px;
    font-size: large;
}

input {
    margin-bottom: 7px;
    margin-top: 7px;
    width: 400px;
    border: 0px;
    border-radius: 10px;
    height: 40px;
}

.msg {
    height: 80px;
}

button {
    margin: 5 0 0 110;
    padding: 8 30 8 30;
    border-radius: 10px;
    border: 0px;
    font-size: larger;
    background-color: white;
}
.btn:hover {
    background-color: black;
    color: white;
}
.btn:visited {
    background-color: blue;
    color: white;
}
.gl:visited{
    color: orange;
}
#sectionZ {
  text-align: center;
  color: black;
}

h1.HeaderSize {
  font-size: 26px;
}

h1 {
  background-color: beige;
}

.button {
  margin: 20px 20px 20px 20px;
  padding: 5px 20px 5px 20px;
}

#parentContainer {
  position: relative;
}
#child1 {
  position: absolute;
  z-index: 1;
  right: 0;
}
#child2 {
  position: absolute;
  z-index: 2;
  right: 60px;
}

#child3 {
  position: absolute;
  z-index: 1;
  right: 160px;
}
#child4 {
  position: absolute;
  z-index: 2;
  right: 280px;
}

#image {
  position: absolute;
  left: -40px;
  top: -12px;
}